<!DOCTYPE html>
<html lang="is" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pattern System</title>
</head>
<body>
<!-- Search form -->
<form action="/search" method="get">
	<label for="searchId">Search by ID:</label>
	<input type="number" id="searchId" name="id" required>
	<button type="submit">Search</button>
  </form>
<!-- display all patterns if any found -->
<div th:if="${patterns}">
<div th:switch="${patterns}">
  <!--h2 th:case="null">No Patterns yet!</--h2 -->
  <div th:case="*">
    <h2>Patterns</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Pattern Matrix</th>
        <th>Stitches</th>
        <th>Rows</th>
        <th>Color Scheme</th>
        <th>Creation Date</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="pattern : ${patterns}">
          <td th:text="${pattern.name}"></td>
          <td th:text="${pattern.ID}"></td>
          <td th:text="${pattern.patternMatrix}"></td>
          <td th:text="${pattern.stitches}"></td>
          <td th:text="${pattern.rows}"></td>
          <td th:text="${pattern.colorScheme}"></td>
          <td th:text="${pattern.creationDate}"></td>
          <td><a th:href="@{/delete/{id}(id=${pattern.ID})}">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/createpattern">Create a new pattern</a></p>
</div>
</div>

<!-- display all users if any found-->
<div th:if="${users}">
<div th:switch="${users}">
  <!-- h2 th:case="null">No Users yet!</h2 -->
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Username</th>
        <th>ID</th>
        <th>email</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.ID}"></td>
          <td th:text="${user.email}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<!-- Display search results (for patterns and users) -->
<div th:if="${patternResult}">
	<h1>Pattern result</h1>
	<!-- <a th:href="@{/order/details(id=3)}"></a> -->
  <a th:href="@{/pattern/{id}(id=${patternResult.ID})}" th:text="${patternResult.name}"></a>
</div>
<div th:if="${userResult}">
	<h1>User result</h1>
  <p th:href="@{/user/{id}(id=${userResult.ID})}" th:text="${userResult.username}"></p>
</div>

</body>
</html>